<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            $(function()
            {

                console.log("Onload!");
                $.get("/app/ui", function(data, status)
                {
                    console.log("Data: " + data + "\nStatus: " + status);
                    var tracked=data.listOfActivities.length - data.missingActivities;
                    $("#tracked").html("The number of tracked activities : "+tracked);
                    $("#untracked").html("The number of untracked activities : "+data.missingActivities);

                    var tableContent=`<table class="table table-hover" id="permisisons">
                        <thead>
                        <tr>
                            <th>Permission</th>
                            <th>Security Level</th>
                        </tr>
                        </thead>
                        <tbody>`;
                    for(var key in data.listOfPermissionLevels)
                    {
                        tableContent+="<tr><td>"+key+"</td><td>"+data.listOfPermissionLevels[key].toUpperCase()+"</td></tr>";
                    }
                    //tableContent.append("</table>");
                    $("#permissionsContainer").append(tableContent);

                    var mappingContent=`<table class="table table-hover" id="mappingContent">
                        <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Action</th>
                            <th>Category</th>
                        </tr>
                        </thead>
                        <tbody>`;
                    for(var key in data.activityMapping)
                    {
                        mappingContent+="<tr><td>"+key+"</td><td>"+data.activityMapping[key][0]["action"]+"</td><td>"+data.activityMapping[key][0]["category"]+"</td></tr>";
                        /* for(var v in data.activityMapping[key])
                        {
                            mappingContent+=v+"</td></tr>";
                        } */
                    }
                    //tableContent.append("</tbody></table>");
                    $("#activityMapping").append(mappingContent);
                    

                    var servicesTable=`<table class="table table-hover" id="servicesTable">
                        <thead>
                        <tr>
                            <th>Services</th>
                        </tr>
                        </thead>
                        <tbody>`;
                    for(var key in data.listOfServices)
                    {
                        servicesTable+="<tr><td>"+data.listOfServices[key]+"</td></tr>";
                    }
                    //tableContent.append("</table>");
                    $("#services").append(servicesTable);

                    
                    var activityPermissionMapping=`<table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Permissions</th>
                        </tr>
                        </thead>
                        <tbody>`;
                    for(var key in data.activityMappingPermissions)
                    {
                        activityPermissionMapping+="<tr><td>"+key+"</td><td>";

                        for(var val in data.activityMappingPermissions[key])
                        {
                            activityPermissionMapping+=data.activityMappingPermissions[key][val]+"<br/>"
                        }
                        activityPermissionMapping+="</td></tr>";

                        /* for(var v in data.activityMapping[key])
                        {
                            mappingContent+=v+"</td></tr>";
                        } */
                    }
                    //tableContent.append("</tbody></table>");
                    $("#activityPermissionMapping").append(activityPermissionMapping);
        
                });

            });

        </script>
    </head>
    <!-- <script type="text/javascript"> 
        var listOfPermissionLevels = "{{listOfPermissionLevels}}";
        console.log(listOfPermissionLevels);
     </script> -->
     
    <body class="container">
        <!-- <h1>Activity based permission mapping</h1>
        {{activityMappingPermissions}}
        <br/> -->
        <!-- <h1>Levels of security for permisisons</h1>
        {{listOfPermissionLevels}} -->
        <!-- {{listOfPermissions}} -->
        <div id="uiElements">           

            <br/>
            <br/>
            <br/>

            <div id="permissionsContainer">
                <h3>List of permissions the application uses</h3>    
            </div>

            <div id="activities">
                <h3> Information about the activities</h3>
                <h5 id="tracked" class='text-primary'>

                </h5>
                <h5 id="untracked" class="text-danger">

                </h5>
                
            </div>

            <div id="activityMapping">
                <h3>Activity Mapping is shown below</h3>
                <h5>
                    android.intent.action.MAIN means that this activity is the entry point of the application android.intent.category.DEFAULT is mainly used for implicit intents
                </h5>
            </div>

            <div id="services">
                <h3>
                    The list of services used by the application is listed below
                </h3>
            </div>
            
            <div id="activityPermissionMapping">
                <h3>The mapping of permissions with respect to the activities</h3>
            </div>

        </div>
    </body>
</html>